<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Create Post</title>
</head>

<body style="margin: 20px;">
    <!-- <h1>Hello {{logged_user.first_name}}!Create a post!</h1> -->
    <!-- <a href="/logout">Logout</a> -->
    {% if messages %}
    <ul class="messages" style="color:rgb(198, 39, 39);">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %} 
    <form action="/contents/create" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" name="title" id="title" class="form-control" style="width:300px;height:50px;" maxlength="100">
            
            <label for="videofile">Photo/Video</label>
            <input type="file" name="videofile" id="videofile" class="form-control" style="width:300px;height:50px;" required>

            <label for="content">Post:</label>
            <textarea type="text" name="content" id="content" class="form-control" placeholder="Write your post here!" style="width:600px;height:400px;" maxlength="10000"></textarea>

            </div>
        <a href="/cancle" class="btn btn-dark">Cancle</a>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
</body>

</html>